body {
    margin: 0;
    padding: 0;
    background-color: #424745;
    background-image: url("alcohol1.jpg");
    animation: scroll-bg 10s linear infinite
  }
  @keyframes scroll-bg {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 1000px 1000px;
    }
  }
  .container {
    width: 1100px;
    margin: 0 auto;
    background-color: white;
    min-height: 100vh;
    background-image: url(".png");
    background-size: 1200px auto;
    
    padding: 0 50px;
  }
  
  .X{
    display: flex;
  align-items: center;
  font-family: Impact;
  font-size: 4em;
  }